- if form == false
  - groups = @contract.ealrs.group_by{|e| e.category}
- else
  - groups = Ealr.find(:all).group_by{|e| e.category}
- groups.each do |k,v|
  %h3= k
  %dl
    - v.sort{|x,y| x.seq<=>y.seq}.each do |ealr|
      %dt
        - unless form==false
          - checked = @contract.ealrs.include?(ealr) ? "checked='true'" : ''
          .left= "<input type='checkbox' #{checked} value='#{ealr.id}' name='ealr[#{ealr.id}]' id='ealr_#{ealr.id}'/>"
        = ealr.seq
      %dd
        - unless form==false
          = "<label for='ealr_#{ealr.id}'>#{ealr.ealr}</label>"
        - else
          = ealr.ealr
