- contract= form_details
%p= textile_example
= contract.text_area "learning_objectives"
= contract.text_area "competencies"
= contract.text_area "evaluation_methods"
= contract.text_area "instructional_materials"
