<% if @contracts.empty? -%>
<p>No contracts.</p>
<% else -%>
<table class="tiny" width="100%">
<tr>
<th>Contract</th><th>Facilitator</th><th>Term</th><th>Status</th><th>Actions</th>
</tr>
<% @contracts.each do |c| -%>
<tr class="<%= cycle_stripes %>">
	<td><%= link_to c[:name], :action => do_action, :id => c[:id] %></td>
	<td><%= c[:facilitator] || "None" %></td>
	<td><%= c[:term] %></td>
	<td><%= c[:status] || '&nbsp;' %></td>
	<td><%= link_to 'delete', { :action => 'delete_contract', :id => c[:id] }, :style => 'font-size: 90%', :title => 'Delete', :confirm => "Are you sure you want to delete this contract? Note that you will not be able to delete the contract unless you are the facilitator, or an administrator, and there are no other enrollments on this contract." %>
</td>
</tr>
<% end -%>
</table>
<% end -%>
