= hidden_field_tag 'contract_name', @contract.name
- if @privs[:edit]
  .right= link_to "<span>Edit Summary</span>", edit_contract_path, :class=>'btn_small edit'
%dl.summary
  %dt Status
  %dd= @contract.status_name
  %dt Facilitator
  %dd= @contract.facilitator.full_name
  %dt Category
  %dd= @contract.category.name
  %dt Credits
  %dd= credits_formatted(@contract)
  %dt Term
  %dd= @contract.term.name
  %dt Location
  %dd= @contract.location
  %dt Schedule
  %dd
    %ul
      - @contract.timeslots.each do |t| 
        - next if t.empty?
        - timeslot = ClassPeriod.from_timeslot_hash(t)
        %li= timeslot.timeslot_string
%br.clear
