%h1
  Edit Account:
  = @account.full_name
= error_messages_for :account
= tiny_form_for @account, :url => update_account_path(@account, @fp), :html => {:class=>'tiny shaded'} do |form|
  .right
    = submit_button 'Update'
    = cancel_button accounts_path(fp_with_index)
  = render :partial => 'form', :object => form
