%h1 Manage Accounts

.filter.resubmit
  - form_tag(accounts_path, :method=>:get, :id=>'filter') do 
    %table
      %thead
        %tr
          %th.name
            %label{:for=>'n'} Name:
            = text_field_tag("n", @name_filter)
            = submit_button('Find', :small=>true)
          %th= select_tag('p', options_for_select(privilege_options(true), @priv_filter) )
          %th= select_tag('c', options_for_select(coordinator_options(true), @coor_filter) )
          %th= select_tag('s', options_for_select(status_options(true), @status_filter) )
          %th.pager
            = link_to_prev_page('<<')
            = select_pages
            = link_to_next_page('>>')
%p
  Found 
  = @accounts.length
  accounts.

%p= link_to_add 'Add a new account', 'new'

%table.tiny.fixed
  %thead
    %tr
      %th.name Name 
      %th.type User Type
      %th.login_id Login ID 
      %th.email Email
      %th.district District ID
      %th.coordinator Coordinator
      %th.active Active?
      %th.login Login?
  %tbody
    - @page_items.each do |a|
      %tr
        %td.name= link_to_detail_action(a.last_name_first, 'edit', @accounts, a)
        %td.type= User::PRIVILEGE_NAMES[a.privilege]
        %td.login_id= a.login.blank? ? "-" : a.login
        %td.email= a.email.blank? ? "-" : a.email
        %td.district= a.district_id.blank? ? "-" : a.district_id
        %td.coordinator= a.coordinator.blank? ? "-" : a.coordinator.last_name_f
        %td.active= a.active? ? 'A' : '&ndash;'
        %td.login= a.login_status==User::LOGIN_ALLOWED ? 'Y': '&ndash;'
