%h1 Credit Transmittal Reports
%p
  - if @approved.length > 0
    - form_tag create_credit_batch_path, :method => 'POST', :id => 'create_credit_batch' do |form|
      = submit_button "Finalize the #{number_with_delimiter(@approved.length)} approved credits currently available"
%p
  Found 
  = @batches.length
  transmittal reports.
%table.tiny{:width => '100%'}
  %thead
    %tr
      %th.name Batch
      %th.count Credits
      %th.finalized Finalized
      %th.transmitted Transmitted
  %tbody
    - @batches.each do |b| 
      %tr
        %td.name.clink= link_to "#{b.id} - #{D(b.finalized_on, true)}", credit_batch_path(b)
        %td.count= b.credit_assignment_count
        %td.finalized
          = D(b.finalized_on, true)
          \:
          = b.finalized_by
        %td.transmitted
          -  if b.transmitted_on
            = D(b.transmitted_on, true)
            \:
            b.transmitted_by
          - else
            &nbsp;