- student_header_link = url_button("Sort alphabetically by student", credit_batch_path(@batch), :small=>true)
- case @order
  - when 'n', 'ga'
    - grade_header_link = url_button("Sort descending by grade", credit_batch_path(@batch, :o => 'gd'), :small=>true)
  - when 'gd'
    - grade_header_link = url_button("Sort ascending by grade", credit_batch_path(@batch, :o => 'ga'), :small=>true)
- grade = nil
%h1
  Credit Transmittal Report #
  = @batch.id
  &mdash;
  = D(@batch.finalized_on)
%h3.clear
  Finalized by 
  = @batch.finalized_by
  &ndash;
  = pluralize(@credit_assignments_count, 'credit assignment')
  for
  = pluralize(@students.length, 'student')
%p.left
  = url_button('Return to credits page', credit_batches_path, :small=>true)
%p.right
  - if ['gd','ga'].include? @order
    = student_header_link
  = grade_header_link
%br.clear
- @students.each do |s|
  - if ['ga','gd'].include?(@order) && grade != s.district_grade
    - grade = s.district_grade
    %h2= "Grade Level #{s.district_grade}"
  %h3
    =s.last_name_first
    =grade
    .info
      %span="(#{s.district_id}) / district grade #{s.district_grade}"  
      = link_to('view credits', credit_assignments_path(s), :target => '_blank', :class=>'dont_print')  
  %table.tiny.fixed
    %thead
      %tr
        %th.course Course
        %th.course_id Code
        %th.hours Hours
        %th.credit_date Record Date
    %tbody
      - @credit_assignments[s.id].each do |ca|
        %tr
          %td.course{:colspan=>4}= ca.credit_course_name
          %td.check{:rowspan=>3}
            %div
        %tr
          %td.facilitator= ca.contract_facilitator_name  
          %td.course_id= ca.credit_course_id
          %td.hours= ca.credit_hours_string  
          %td.credit_date= d(ca.contract_term.credit_date)
        %tr
          %td.note{:colspan=>4}= notes_for(ca,:notes_hash=>@credit_notes)
%h2.last End of credit transmittal report          