- enrollment = show_enrollment
%tr
  %td= link_to(enrollment.contract_name, contract_path(:id => enrollment.contract_id))
  %td= enrollment.facilitator_name
  %td
    = enrollment.timeslots.join('<br/>')
  %td= enrollment.credit_string.gsub '; ','<br/>'
  %td
    %div{:class=>enrollment.status_text.downcase}
      = link_to(enrollment.status_text, :controller => 'status', :action => 'contract_report', :id => enrollment)
