.filter
  - form_tag learning_path(:id => @student.id, :year => 'current'), :reset=>true, :class=> 'behavior year_filter' do
    = select_tag ('sy', options_for_select(@year_options.collect{|y| ["#{y} plan", y]}, @year))
%h1
  = @student.name
  Learning Plan / 
  = @year
  School Year
  - if @privs[:edit]
    %p= link_to "<span>Edit learning plan</span>", edit_learning_path(@student, @year), :class=>'btn'
- if @plan
  %p
    Weekly hours engaged in learning activity:&nbsp;&nbsp;
    = @plan.weekly_hours
  %h2 Standardized Goals
  %ul.goals
    - @plan.learning_plan_goals.each do |goal|
      %li= goal.description
  %h2 Personal Goals
  - if  @plan.user_goals.blank?
    .personal No personal goals defined
  - else
    .personal= textilize @plan.user_goals
  %h2 Notes
  %p Add notes below to comment on the student's learning progress, or to identify any needed interventions.
  = notes_for(@plan)
- else
  %p No learning plan defined for this year.
%h2 Schedule
.schedule
  = render :partial => 'show_schedule', :object => @active_terms, :locals => {:title => 'Current Enrollments'}
  = render :partial => 'show_schedule', :object => @finalized_terms, :locals => { :title => 'Finalized Enrollments'}
