- @student = ale_item
- statuses = @statuses[@student.id] || []
%tr
  %td.name= link_to(@student.last_name_first, student_status_path(@student))
  %td.coordinator= @student.coordinator ? @student.coordinator.last_name_f : 'Unassigned'
  %td.grade= @student.district_grade
  %td.status= User::STATUS_NAMES[@student.status]
  - @months.each do |month|
    - status = statuses.find{|s| s.month == month}
    - if month > @this_month
      - status = '&ndash;'
      - klass = 'i'
    - elsif !@student.was_active? month
      - status = 'I'
      - klass = 'i'
    - elsif status.nil?
      - status = 'M'
      - klass = 'm'
    - else 
      - klass = Status::STATUS_NAMES[status.academic_status][0..0].downcase
      - status = "#{Status::STATUS_NAMES[status.academic_status][0..0]} / #{status.fte_hours}"
    %td{:class=>"month #{klass}"}= status
