<%
	result = result_lp_schedule_item
	contract = result.contract
-%>
<tr class="<%= cycle_stripes %>">
<td style="width: 20em">
	<%= contract.name %>
	<%= render :partial => "credit/credit_form", :object => result, :locals => { :container_class => "flat", :width => "19em", :edit => false, :head => false } %>
</td>
<td style="width: 10em">
	<%= contract.term.name %>
</td>
<td style="width: 20em">
	<%= contract.facilitator.name %>
</td>
</tr>
<% if printable -%>
<tr>
	<td colspan="3">
	<h2>Learning Objectives</h2>
	<p><%= contract.learning_objectives %></h1>
	<h2>Competencies</h2>
	<p><%= contract.competencies %></h1>
	<h2>Methods of Evaluation</h2>
	<p><%= contract.evaluation_methods %></h1>
	<h2>Instructional Materials</h2>
	<p><%= contract.instructional_materials %></h1>

	<h2>EALRs</h2>
	<% groups = contract.ealrs.group_by{|e| e.category } %>
	<% groups.each do |k,v| -%>
		<ul id='ealrs' class="tiny">
			<%= content_tag 'h3', k %>		
			<%= render :partial => 'contract/ealr', :collection => v, :locals => { :edit => false, :indent => 1 } %>
		</ul>
	<% end -%>
	</td>
</tr>	
<% end %>