%h1 Students
= render :partial => 'shared/student_filter', :locals => { :filter_action => 'index', :filter_controller =>'students'}
%p.left.clear= "Found #{pluralize(@students.length,'student')}."
.right.dropdown-menu.reports
  .title
    = link_to "Download Reports (CSV)"
  .menu
    %ul
      %li= link_to "ALE Report", report_path(@fp.merge(:action => "ale"))
      %li= link_to "Credits Report", report_path(@fp.merge(:action => "credits"))
%table.tiny.clear{:width=>'100%'}
  %thead
    %tr
      %th Student
      %th Coordinator
      %th.grade Grade
      %th Links
  %tbody
    - @page_items.each do |student|
      %tr
        = render :partial => 'student_columns', :object => student
        %td.links
          = student_links(student)
