- note = note_edit
%li.edit{:class => @new ? 'add' : nil}
  .header
    .right
      = link_to "save", update_note_path(note), :class => 'update'
      = link_to 'autosave', save_note_path(note), :class => 'autosave hidden'
      - if @new
        = link_to 'cancel', destroy_note_path(note), :class => 'delete cancel'
      - else
        = link_to 'delete', destroy_note_path(note), :class => 'delete hidden'
        = link_to 'revert', revert_note_path(note), :class => 'update revert'
  .box
    = hidden_field_tag('revert', note.note, :id => "note_revert_#{note.id}", :class=>'revert')
    = text_area_tag('note', note.note, :id => "note_txt_#{note.id}")
