- if @privs[:edit]
  %h1
    Edit
    = @assignment.name
  - tiny_form_for :assignment, @assignment, :html => {:class=>'tiny shaded'} do |form|
    .right
      = link_to '<span>Delete Assignment</span>', destroy_assignment_path(@contract, @assignment), :method => :post, :confirm => "Are you sure you want to delete this assignment? You will lose all commentary on student work related to this assignment.", :class=>'btn', :style=>'margin-right: 3em'
      = submit_button 'Update'
      = cancel_button assignments_path(@contract)
    = render :partial => 'form', :object => form
- else
  %h1= @assignment.name
  %p= url_button 'Return to assignments list', assignments_path(@contract), :small => true
  %h3 Due date
  %p= d(@assignment.due_date)
  %h3 Weighting
  %p= @assignment.weighting
  %h3 Description
  = @assignment.description