- one_page = params[:one_page]=="true"
%h1
  = @contract.name
  Report
%p
  = url_button 'Return to worksheet', assignments_path(@contract)
  - unless one_page
    = url_button 'Get this all on one page', assignment_report_path(:contract_id => @contract, :one_page => true)
- if @assignments.empty? || @enrollments.empty?
  %p
    No assignments and/or students. Click the button above to return.
- elsif one_page
  = render :partial => 'report_assignments', :object => @assignments, :locals => {:one_page => true}
- else
  - @assignments.each_slice(8) do |assignments|
    = render :partial => 'report_assignments', :object => assignments