%h1
  = @student.name
  &ndash;
  = @contract.name
%p
  = url_button 'Return to assignments list', assignments_path(@contract), :small => true
- if @assignments.empty?
  %p No assignments defined.
- else
  - @missing = Turnin.new(:status => :missing)
  - @student_privs ||= @privs
  #assignments_report
    %h2 Assignments
    %p
      = @enrollment.participant.first_name
      has completed 
      = number_to_percentage((@enrollment.turnins.weight_current / @enrollment.contract.assignments.weight_current.to_f)*100, :precision => 0)
      of currently due assignments and 
      = number_to_percentage((@enrollment.turnins.weight_total / @enrollment.contract.assignments.weight_total.to_f)*100, :precision => 0)
      of all assignments.
    %p= fn_button 'Show all details', 'Assignment.show_all()', :small => true
    %table.tiny.fixed.padded
      %thead
        %tr
          %th.assignment Assignment
          %th.due Due
          %th.status Status
          %th.notes Notes
      %tbody
        - @assignments.each do |a|
          - t = turnin_for a, @turnins, @missing
          %tr{:class=>cycle_stripes}
            %td.assignment
              - name = "#{a.name} <span>(#{a.weighting})</span>"
              - if a.description.blank?
                = name
              - else
                %a.dotted{:href=>'#', :onclick=>'Assignment.show(this); return false;'}= name
                .details.shaded{:style=>'display:none'}=textilize(a.description)
            %td.due= d(a.due_date)
            %td.status
              - if @privs[:edit]
                %a.show_status_updater_form{:href=>'#'}= t.status.to_s.titleize
                %ul.status_updater.popup{:style=>'display:none'}
                  - Turnin::STATUS_TYPES.each do |s|
                    %li
                      - if s==t.status
                        - klass='status current'
                      - else
                        - klass='status'
                      %a{:class=>klass, :href => record_assignment_path(:contract_id => a.contract_id, :id => a.id, :enrollment_id => @enrollment.id, :value => s.to_s[0,1])}= s.to_s.titleize
              - else
                %span.show_form= t.status.to_s.titleize
            %td.notes= notes_for(t, :notes_hash => @turnin_notes, :editable => @privs[:edit_note])
