-#
  Call this partial with the following local variables:

  filter_controller => the controller to call
  filter_action => the action to call

  Your controller action needs to populate an @contracts variable with a list of contracts, and 
  populate the @page etc. items and @fp variable with the find parameters.

-  filter_url = "/#{filter_controller}"
-  filter_url += "/#{filter_action}" unless filter_action=="index"

.filter.resubmit
  = form_tag({:controller => filter_controller, :action => filter_action}, :method=>:get, :id=>'filter') do
    %table
      %thead
        %tr
          %td= select_tag('t', options_for_select(@term_options, @term))
          - unless local_assigns[:exclude_facilitator]
            %td= select_tag('f', options_for_select(@facilitator_options, @facilitator))
          %td= select_tag('g', options_for_select(@category_options, @category))
          %td.check_box
            = check_box_tag('c', 1, @closed==1)
            = label_for('c', 'Closed')
          - if @page_items
            %td
              %div.pager
                = link_to_prev_page('<<')
                = select_pages
                = link_to_next_page('>>')
