- coordinator_selections = [['All coordinators',-1],['Unassigned',-2]]+User.coordinators.collect{|u| [u.last_name_f, u.id]}
.student.filter.resubmit
  - form_tag({:controller => filter_controller, :action => filter_action}, :method=>:get, :id=>'filter') do 
    %table
      %thead
        %tr
          %th.name
            %label{:for=>'na'} Name:
            = text_field_tag("na", @name_filter)
            %input.btn.smaller(type="submit" value="Find")
          %th= select_tag('co', options_for_select(coordinator_selections, @coor_filter) )
          %th
            = select_tag('cl', options_for_select([["All grades", -1], ["Freshmen", 9], ["Sophomores", 10], ["Juniors", 11], ["Seniors", 12]], @class_filter) )
          %th
            = select_tag 'sy', options_for_select(Term.find_by_sql('SELECT DISTINCT school_year FROM terms ORDER BY school_year DESC').collect{|t| t.school_year}, @school_year_filter)
          - if local_assigns[:include_year_span]
            %th.years
              = select_tag 'span', options_for_select((1..6).to_a.collect{|y| ["#{y} year", y]}, params[:span])
          - unless local_assigns[:exclude_pager]
            %th.pager
              = link_to_prev_page('<<')
              = select_pages
              = link_to_next_page('>>')
