%h1= @contract.name
%p
  There are 
  %span.bold#enroll_count= @enrollments.length
  participants enrolled in this contract.
  - if @privs[:edit]
    %p= link_to_function('Add participants', "return Enrollment.add(#{@contract.id});")
#defaults.shaded
  = render :partial => 'default_credits'
%table.tiny#enrollments
  %thead
    %tr
      %th Participant
      %th Credits
      %th Enrollment Notes
  %tbody
    - @enrollments.each do |e|
      - editable = e.finalized_on.nil? and @privs[:edit]
      %tr
        %td
          .enrollment
            %h3
              = e.participant.last_name_first
            .status
              = render :partial => "status_update", :object => e, :locals => {:editable => editable}
        %td
          - unless e.canceled?
            .credits
              = render(:partial => "credit/credits", :object => e, :locals => {:closed => !editable})
        %td
          = notes_for(e,:notes_hash=>@enrollment_notes)