%form{:action=>create_enrollments_path(@contract), :onsubmit=>'return Enrollment.validate_add();', :method => 'post'}
  #students_to_enroll
    - @enrollees.each do |s|
      - the_id = "user[#{s.id}]"
      %p
        = "<input type='checkbox' value='#{s.id}' name='#{the_id}' id='user_#{s.id}' />"
        = "<label for='user_#{s.id}'>#{s.last_name_first}"
        - if s.privilege>=User::PRIVILEGE_STAFF
          (staff)
        </label>
  .submit
    = submit_button('Enroll')