%h1.left Course Catalog
.filter
  - form_tag(catalog_path, :method => :get, :id => 'filter') do
    %table
      %thead
        %tr
          %th Find
          %th.category
            = select_tag("category_id", options_for_select([['All categories', -1]]+@categories.collect{|c| [c.name, c.id]}, @category_id))
          %th.facilitator
            = select_tag("facilitator_id", options_for_select([["All facilitators", -1]]+@facilitators.collect{|f| [f.full_name, f.id]}, @facilitator_id))
          %th.term
            = select_tag("term_id", options_for_select([["All terms", -1]]+@terms.collect {|p| [ p.name, p.id] }, @term_id))
%p.clear= "Found #{pluralize(@courses.length, 'course')}."
- @categories.each do |cat| 
  - next unless @groups[cat.id]
  %h2.border_top=cat.name
  - @groups[cat.id].each do |contract| 
    - meetings = meeting_string(contract)
    %h3 
      = contract.name
      .subhead= "#{contract.facilitator_name}, #{contract.term_name}"
      .subhead
        - unless contract.location.blank?
          = contract.location
        - unless meetings.blank?
          - unless contract.location.blank?
            = ": "
          = meetings
    %p= contract.credit_string
    = textilize(contract.learning_objectives)