%h1 Configure EALRs
.filter.resubmit
  - form_tag ealrs_path, {:method => :get, :id=>'filter', :class=>'left'} do 
    %label{:for => 'category'} Pick a category
    = select_tag "category", options_for_select(@categories, @category) 
  .left= url_button 'Add EALR to this category', new_ealr_path(url_encode(@category.downcase)), :small => true
%table.tiny.padded.clear
  %thead
    %tr
      %th.sequence Sequence
      %th.ealr EALR
      %th.links &nbsp;
  %tbody
    - @ealrs.each do |ealr|
      %tr{:class=>cycle_stripes, :id => "ealr_#{ealr.id}"}
        %td.sequence=ealr.seq
        %td.ealr=ealr.ealr
        %td.clink
          = link_to "Edit", edit_ealr_path(ealr)
          = link_to "Delete", destroy_ealr_path(ealr), :class=>'destroy'