- klass = mapping.placeholder? ? 'ph' : nil
.mapping{:id => "cm_#{mapping.id}", :class => klass}
  .name= mapping.credit_assignment.credit_course_name
  .number= "(#{mapping.credit_assignment.credit_course_id})"
  .hours= mapping.credit_assignment.credit_hours
  credits
  - if @privs[:edit]
    = link_to 'Unassign', unassign_graduation_mapping_path(@student, mapping.id), :class=>'unassign'
  .extras=extras(mapping.credit_assignment)