- ca = unassigned
- klass = ca.placeholder? ? 'ph' : nil
.unassigned{:id=>"ca_#{ca.id}", :class=>klass}
  .name= ca.credit.course_name
  .number= "(#{ca.credit.course_id})"
  .hours= ca.credit_hours
  credits
  .extras=extras(ca)