<% 
  worksheet_version ||= false
  placeholder_version ||= false
-%>
<p>
<label for="course"><strong>Course credit for <%= @title %>:</strong></label>
<%= select_tag("course", options_for_select(@credit_options, @credit.credit_id), :size => 10, :class=>'credits') %>
</p>

<table width="100%">
<tr style="vertical-align: bottom;">
	<td style="padding-top: .5em">
		<label for="credits">Credits:</label>
		<%= text_field_tag('credits', @credit.credit_hours, :size => 5, :disabled => worksheet_version) %>
	</td>
	<% if worksheet_version -%>
	<td>
		<label for="credits_override">Override:</label>
		<%= text_field_tag('credits_override', @credit.override_hours, :size => 3) %>
	</td>
	<% 
	  end 
	  if worksheet_version || placeholder_version
	-%>
	<td>
		<label for="course">Term:</label>
		<%= select_tag("term", options_for_select(Term.creditable.collect{|t| [t.name, t.id]}, Term.creditable.first.id)) %>
	</td>
	<% end -%>
</tr>
</table>
