- @dummy = MeetingParticipant.new(:participation => 0, :contact_type => @default_contact_type)
%h1.behavior.editable_head{'data-text-cache' => h(@meeting.display_title)}
  = @meeting.display_title
  %a.icon.edit{:href => update_meeting_path(@meeting)} Edit
%p= link_to "Return to summary", attendance_path(:id => @contract.id)
#worksheet
  .form-controls{:style => 'margin: 1em 0'}
    %form.left.behavior.submit-once#update_all{:action=> update_all_attendance_url(@meeting), :method => "post"}
      %label Mark all enrollees:
      = hidden_field_tag "authenticity_token", form_authenticity_token, :id => nil
      = select_tag('participation', options_for_select(MeetingParticipant::PARTICIPATION_STATUSES.collect{|p| [p[:name], p[:value]]}, MeetingParticipant::PRESENT), :style=>'width: 10em', :id => nil)
      = select_tag('contact', options_for_select(MeetingParticipant::CONTACT_TYPES, @default_contact_type), :id => nil)
      = submit_tag "Update all", :class => 'btn small'
    .right
      = link_to "Delete this roll", delete_attendance_roll_path(@meeting), :class => 'btn small behavior post_with_confirm', 'data-confirmation' => 'Are you sure you want to delete this attendance roll and all the records along with it?'
    .clear
  %table.tiny.attendance.padded.zoomed
    %thead
      %tr.th
        %th.name Participant
        %th Type
        - MeetingParticipant::PARTICIPATION_STATUSES.collect do |s|
          %th.status= s[:name]
        %th.note Notes
    %tbody= render :partial => 'attendance/worksheet_item', :collection => @enrollments
- @dummy.id = -1
#notes-dummy.hidden= notes_for(@dummy)
