- if @index
  .right
    - if @index == 0
      = "<span class='btn'><span>&lt;&lt;&nbsp;Previous</span></span>"
    - else
      = link_to("<span>&lt;&lt;&nbsp;Previous</span>", {:action => controller.action_name, :id => @collection[@index-1], :m => @month.to_s}, :class=>'btn')
    = "(#{@index+1} of #{@collection.length})"
    - if @index >= @collection.length-1
      = "<span class='btn'><span>Next&nbsp;&gt;&gt;&nbsp;</span></span>"
    - else
      = link_to("<span>Next&nbsp;&gt;&gt;</span>", {:action => controller.action_name, :id => @collection[@index+1], :m => @month.to_s}, :class=>'btn')
