- if @index
  .right
    - if @index == 0
      %span.btn
        %span
          &lt;&lt;
          &nbsp;
          Previous
    - else
      = link_to({:action => controller.action_name, :id => @collection[@index-1], :m => @month.to_s}, :class=>'btn') do
        %span
          &lt;&lt;&nbsp;Previous
    = "(#{@index+1} of #{@collection.length})"
    - if @index >= @collection.length-1
      %span.btn
        %span
          Next
          &nbsp;
          &gt;&gt;
          &nbsp;
    - else
      = link_to({:action => controller.action_name, :id => @collection[@index+1], :m => @month.to_s}, :class=>'btn') do
        %span
          Next
          &nbsp;
          &gt;&gt;
          &nbsp;
