%h1
  = @contract.name
  Status
%p=link_to_results('Return to contracts list', 'contract')
%p
  Found
  = @students.length
  active students.
%table.tiny.index.padded.fixed
  %thead
    %tr
      %th.student Student
      %th.status Status
      - @months.each do |m|
        %th.month= m.strftime('%b')
  %tbody
    - @students.each do |enrollment|
      - statuses = Hash[*enrollment.statuses.collect{|s| [s.month, s]}.flatten]
      %tr{:class=>cycle_stripes}
        %td.student= link_to(enrollment.participant.last_name_first, :action => 'contract_report', :id=>enrollment)
        %td.status= enrollment.status_text
        - @months.each do |m|
          - s = statuses[m]
          - klass = 'month'
          - if @this_month < m
            - text = "&ndash;"
          - elsif s.nil?
            - text = link_to '?', contract_report_path(:id => enrollment, :m => m.to_s)
          - else
            - klass << ' e' if s.unacceptable?
            - text = [Status::STATUS_NAMES[s.academic_status][0..0]]
            - text << Status::STATUS_NAMES[s.attendance_status][0..0]
            - if s.met_fte_requirements
              - text << 'M'
            - else
              - text << '<span class="strike">M</span>'
            - text = link_to text.join(' '), contract_report_path(:id => enrollment, :m => m.to_s)
          %td{:class=>klass}= text
