- @months = @report[:months_range].sort
%h1.left
  = @staff.name
  Contract Status
= render :partial => 'shared/contract_filter', :locals => {:filter_controller => 'status', :filter_action => 'contract'}
%p.clear
  == Found #{@report.keys.length-2} contracts.
%table.tiny.index{:cellspacing=>0}
  %thead
    %tr
      %th.name Contract
      %th.term Term
      %th.facilitator Facilitator
      - @months.each do |m|
        %th.month= m.strftime('%b')
  %tbody
    - @contracts.each do |c|
      - report = @report[c.id]
      %tr{:class=>cycle_stripes}
        %td.name= link_to_detail_action(c.name, 'contract_detail', @contracts, c)
        %td.term= c.term.name
        %td.facilitator= c.facilitator.last_name_f
        - @months.each do |m|
          - if @this_month < m or report[:months].include?(m) == false
            - val = '&ndash;'
          - elsif report[:missing][m] > 0
            - val = '?'
          - else
            - val = 'C'
          %td.month{:class=>(val=='?'?'e':nil)}=val
