%h1
  = @coor.name
  Coordinatee Status
%p= link_to_results('Return to COOR list', 'coor')
%p
  Found 
  = @students.length
  coordinatees.

%table.index.tiny
  %thead
    %tr
      %th.student Student
      %th.status Status
      - @months.each do |m|
        %th.month= m.strftime('%b')
  %tbody
    - @students.each do |student|
      %tr{:class=>cycle_stripes}
        - statuses = student.statuses.group_by{|status| status.month}
        %td= link_to(student.last_name_first, :action => 'coor_report', :id=>student)
        %td.status= User::STATUS_NAMES[student.status]
        - @months.each do |m|
          - status = statuses[m] ? statuses[m][0] : nil
          - klass ='month'
          - active = student.was_active?(m)
          - klass << ' e' if active && (status.nil? || !status.held_periodic_checkins) || (status && status.unacceptable?)
          %td{:class=>klass}
            - if @this_month < m
              &nbsp;
            - elsif !student.was_active?(m)
              &ndash;
            - elsif status.nil? || !status.held_periodic_checkins
              = link_to('?', coor_report_path(:id => student, :m => m.to_s))
            - else
              = link_to([Status::STATUS_NAMES[status.academic_status][0..0],status.fte_hours || 0].join(' '), coor_report_path(:id => student, :m => m.to_s))