%h1
  = @user.full_name
  Status Page
%h2.left My Contracts
= render :partial => 'shared/contract_filter', :locals => { :filter_controller => 'status', :filter_action => 'index', :exclude_facilitator => true }
- if @contracts.empty?
  %p.clear No contracts.
- else
  %p.clear
    Found 
    = @contracts.length
    contracts.
  %table.tiny.fixed
    %thead
      %tr
        %th.name Contract
        %th.enrollees Enrollees
        %th.term Term
        %th.status Status
        %th.links Links
    %tbody
      - @contracts.each do |c|
        %tr
          %td.name= link_to(c.name, contract_path(c))
          %td.enrollees= c.active_enrollments
          %td.term.nowrap= c.term_name
          %td.status
            %span{:class=>Contract::STATUS_NAMES[c.contract_status].downcase}= Contract::STATUS_NAMES[c.contract_status]
          %td.links
            = link_to('Status', contract_status_detail_path(c), :class=> 'link')
            = link_to('Enrollments', enrollments_path(c), :class=> 'link')
            = link_to('Gradesheet', assignments_path(c), :class=> 'link')

- unless @coordinatees.empty?
  %h2 My COOR Students
  %p
    Found
    = @coordinatees.length
    students.
  %table.tiny.fixed
    %thead
      %tr
        %th.name Student
        %th.links Links
    %tbody
      - @coordinatees.each do |s|
        %tr{:class=>cycle_stripes}
          %td.name= s.last_name_first
          %td.links
            = link_to('COOR Report', coor_report_path(s), :class=> 'link')
            = link_to('Status', student_status_path(s), :class=> 'link')
            = link_to('Learning Plan', learning_path(s), :class=> 'link')
            = link_to('Credits', credit_assignments_path(s), :class=> 'link')
