- unless @parent_requirement
  %h1 
    Add Graduation Requirement
- else
  %h1 
    Add Graduation Sub-Requirement for 
    \:
    = @parent_requirement.name
- tiny_form_for :requirement, @requirement, :url => create_plan_requirement_path(:parent_id => @parent_requirement), :html => {:class=>'tiny shaded'} do |form|
  %p
    = submit_button "Add"
    - unless @parent_requirement
      = url_button 'Cancel', plan_requirements_path
    - else
      = url_button 'Cancel', edit_plan_requirement_path(@parent_requirement)
  = render :partial => 'form', :object => form