- form_tag update_settings_path, {:method => :post, :class=>'tiny shaded'} do
  %p
    = submit_button 'Save Settings'
    = url_button 'Cancel', settings_path
  %p
    %label{:for => 'school_year'} School year
    = select_year Setting.current_year
  %p
    %label{:for => 'start_month'} Starting month
    = select_month Setting.reporting_base_month, :field_name => 'start_month'
  %p
    %label{:for => 'end_month'} Ending month
    = select_month Setting.reporting_end_month, :field_name => 'end_month'
    
  %p
    %label{:for => 'default_term'} Default term for new contracts
    = select_tag :new_contract_term_default, options_for_select(Term.active.collect{|p| [ p.long_name, p.id] }, Setting.new_contract_term_default.id)
    