%ul#contract_categories
  - @groups.keys.sort.each do |i| 
    - g = @groups[i]
    %li.group{:id => "gr_#{i}"}
      %div.div_handle{:id => "handle_#{i}"} &nbsp;
      .gr_inner
      - g.each do |c|
        %div.category{:id => "cat_#{c.id}"}
          .p_handle &nbsp;
          .link=link_to_function("#{c.name}", "ContractCategory.show_edit(#{c.id})")
          .count=c.contract_count
          .public=c.public ? image_tag('check.gif') : image_tag('dash.gif')
          .reporting=Category::STATUSABLE_NAMES[c.statusable]
          .delete
            -if c.contract_count=="0"
              =link_to 'Delete', destroy_category_path(c), :class=>'destroy'