%h1 Categories
%p This screen lets you edit the contract categories, and arrange them in groupings for the course catalog. The groups are shown as dotted boxes below. You can create a new group and drag categories between groups. You can also drag the groups themselves in order. Contracts are sorted first by the order of the category group, then alphabetically by name within the category.
%p= "Found #{pluralize(@categories.length, 'categories')}."
#contract_category_headers
  .buttons
    = link_to_function("<span>Add a new category</span>", "ContractCategory.show_add()", :class=>'btn')
    = link_to_function("<span>Add a new group</span>", "ContractCategory.add_catalog_group()", :class=>'btn')
  .count Contracts
  .public Catalog?
  .reporting Reporting
#container
  = render :partial => 'index'
