- months_bool = @term.months_bool
- @base_month ||= Setting.reporting_base_month
= form.text_field "name", :size => TEXTFIELD_WIDTH 
= form.select "school_year", (@term.school_year-5..@term.school_year+5)
= form.date_select("credit_date")
= form.check_box "active", :label => "This term is currently active"
%h3 Status Reporting Months
- (0..2).each do |i|
  %ul.months
    - (0..3).each do |j|
      - m = (i*4)+j
      %li.check_box
        = check_box_tag "month[#{m}]", m, months_bool[m], :id => "month_#{m}"
        %label{:for=>"month_#{m}"}= Term.month_name(@base_month,m)
%br.clear