%h1 Terms
%p
  = url_button 'Add a term', new_term_path
%table.tiny.padded#terms
  %thead
    %tr
      %th.name Name
      %th.year School Year
      %th.credit_date Credit Date
      %th.active Active?
      %th.months Reporting Months
      %th.months Contracts
  %tbody
    - @terms.each do |term|
      %tr{:class=>cycle_stripes}
        %td.name.clink= link_to term.name, edit_term_path(term), :class=>'edit'
        %td.year= term.school_year
        %td.credit_date= d(term.credit_date)
        %td.active
          - if term.active?
            A
          - else
            \-
        %td.months
          - months = []
          - term.months_bool.each_with_index do |m,i|
            - if m
              - months<< Term.month_name(@base_month, i)[0..2]
          = months.join(', ')
        %td.contracts
          =term.contract_count
          - if term.contract_count=="0"
            = link_to 'delete?', destroy_term_path(term), :class=>'destroy'