%h1 Credits
%p= "Found #{pluralize(@credits.length, 'credit type')}."
%p= url_button 'Add Credit Type', new_credit_path
%h3 Legend
%ul
  %li Enrolled = attached to un-finalized enrollment
  %li Finalized = finalized by contract facilitator, but not approved by coordinator. Excludes zero-hour credits and credits combined under another.
  %li Approved = approved by coordinator for transmittal to district. Excludes credits combined under another. 
%p= link_to "Show only credits that can be safely deleted", '#', :class => 'behavior show_can_delete'
%table#credits_list.tiny.fixed.padded.striped
  %thead
    %tr
      %th.credit Credit
      %th.course_id Course ID
      %th.type Type
      %th.count Enrolled
      %th.count Finalized
      %th.count Approved
      %th.count &nbsp;
  %tbody
    - @credits.each do |credit|
      %tr{:class => ("can_delete" if (credit.enrolled_count == "0") and (credit.finalized_count == "0"))}
        %td.credit.clink=link_to credit.course_name, edit_credit_path(credit)
        %td.course_id=credit.course_id
        %td.type=Credit::TYPE_NAMES[credit.course_type]
        %td.count{:title => "Enrolled"}= blank_if_zero(credit.enrolled_count)
        %td.count{:title => "Finalized"}= blank_if_zero(credit.finalized_count)
        %td.count{:title => "Approved"}= blank_if_zero(credit.approved_count)
        %td.count
          = link_to 'delete?', destroy_credit_path(credit), :class=>'destroy' if (credit.enrolled_count == "0") and (credit.finalized_count == "0")
